



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


body{
    background-color: rgb(227, 254, 255);
}

.container{
    max-width: 900px;
    /* height: 1000px; */
    margin: 0px auto;
    background-color: rgb(199, 233, 236);
    padding: 10px;
    border-radius: 10px;

}

.create-character{
    width: 100%;
    padding: 10px 0px;
    display: flex;    
    /* justify-content: space-between */
}

.character-info{
    width: 70%;
    margin-right: 3px;
}

.character-avatar{
    width: 30%;
}

.character-avatar>img{
    width: 100%
}

.form-group{
    display: flex;
    align-items: center;
}

.form-group>label{
    width: 30%;
}

.form-control{
    width: 70%;
    padding: 5px 2px;
    outline: none;
    margin-bottom: 3px;
}

.btn{
    border-radius: 3px;
    padding: 10px 25px;
    border: none;
    outline: none;
    background-color: rgb(55, 55, 252);
    color: white;
}

.btn:hover{
    background-color: rgb(17, 17, 199);
}

.avatar {
    width: 30px;
    border-radius: 50%; 
}

.avatar-fullname {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

/* table, td, th {
    border: 1px solid black;
} */

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px !important;
}

.table>thead>tr>th{
    padding: 10px 5px;
    text-align: left;
}

.table>thead>tr>th:first-child{
    text-align: center;
    
}

.table>thead>tr{
    background-color: rgb(68, 156, 228);
    color: white;
    
}

table>thead>tr {
    border-radius: 20px !important;
}

.table>tbody>tr>td{
    padding: 7px 5px;
    height: 45px;
}

.table>tbody>tr>td:first-child{
    text-align: center;
}

/* .table>tbody>tr:nth-child(even){
    background-color: rgb(139, 209, 255);
} */



.table>tbody>tr:hover{
    background-color: rgb(167, 239, 241);
    cursor: pointer;
}

table th:first-child{
    border-radius:10px 0 0 10px;
}
  
table th:last-child{
    border-radius:0 10px 10px 0;
}

table td:first-child{
    border-radius:10px 0 0 10px;
}
  
table td:last-child{
    border-radius:0 10px 10px 0;
}

table>tbody>tr {
    background-color: rgb(248, 255, 255);
}