
:root{
    --xanh-dam: rgb(91, 124, 254);
    --xanh-nhat: rgb(137,207,240);
    --xanh-nhatnhat: rgb(231,238,248);
    --xanh-damnhat: rgb(30, 144, 255);

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

html{
    background-color: var(--xanh-nhatnhat);
}
body {
    background-color: var(--xanh-nhatnhat);
}
/* Phần header */
#header{
    height: 45px;
    background-color: var(--xanh-damnhat);
    position: fixed ;
    width: 100%;
    top: 0;
    left:0;
    z-index: 100;
    font-size: 15px;
}
#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}


#subnav >li {
    text-transform: uppercase;
}
#nav > li >a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,

#nav > li:hover > a {
    color: rgb(255, 255, 255);
    background-color: var(--xanh-dam);
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: var(--xanh-damnhat);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    
}

#nav .subnav a {
    color: rgb(255, 255, 255);
    padding: 0 12px;
    line-height: 38px;
    font-size: 85%;

}
    /* Search icon */
.search-btn{
    float: right;
    padding: 0 20px;
}

.search-btn:hover{
    background-color: rgb(113, 136, 238);
}

#header .search-icon {
    color: white;
    line-height: 45px;
}
    /*  */

    /* Search bar */
.search{
    position: relative;
    float: right;
    display: inline-block;
    width: 25%;
    text-align: right;
}

.search-bar{
    display: inline-block;
    line-height: 45px;
    text-align: right;
    width: 250px;
}

.search-input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
}
    /*  */


/* Phần contain */


.container{
    max-width: 90%;
    /* height: 1000px; */
    margin: 0px auto;
    /* padding: 100px; */
    border-radius: 30px;
    padding: 20px;
    background-color: var(--xanh-nhat);
    margin-top: 60px;
    

}

.create-character{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    text-align: center;
    /* justify-content: space-between */
    /* margin-top: 40px; */
}

.character-info{
    width: 70%;
    margin-right: 3px;
}

.form-group{
    display: flex;
    align-items: center;
    
}

.form-group>label{
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.form-control{
    width: 70%;
    padding: 5px 2px;
    outline: none;
    margin-bottom: 3px;
    border-radius: 10px;
    border: none;
}

.btn{
    border-radius: 3px;
    padding: 5px 15px;
    border: none;
    outline: none;
    color: white;
    margin: 5px;
    width: 90px;
}

.btn-create{
    background-color: rgb(91, 124, 254);
}

.btn-create:hover{
    background-color: rgb(59, 88, 203);
}

.btn-delete {
    background-color: rgb(254, 124, 91);
}

.btn-delete:hover{
    background-color: rgb(145, 72, 54);
}

.btn-show {
    background-color: rgb(111, 131, 125);
}

.btn-show:hover{
    background-color: rgb(82, 97, 92);
}

.btn-cancel {
    background-color: rgb(111, 131, 125);
}

.btn-cancel:hover{
    background-color: rgb(82, 97, 92);
}

.btn-update {
    background-color: rgb(91, 124, 254);
}

.btn-update:hover{
    background-color: rgb(59, 88, 203);
}


.avatar {
    width: 30px;
    border-radius: 50%; 
}

.avatar-fullname {
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.character-avatar{
    width: 30%;
}

.character-avatar>img{
    width: 100%
}

#reviewAvatar{
    border-radius: 30px;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px !important;
}

.table>thead>tr>th{
    padding: 10px 5px;
    text-align: left;
}

.table>thead>tr>th:first-child{
    text-align: center;
    width: 10px;
}

.table>thead>tr{
    background-color: var(--xanh-dam);
    color: white;
    
}

table>thead>tr {
    border-radius: 20px !important;
}

.table>tbody>tr>td{
    padding: 7px 5px;
    height: 45px;
}

.table>tbody>tr>td:first-child{
    text-align: center;
    width: 5px;
}

/* .table>tbody>tr:nth-child(even){
    background-color: rgb(139, 209, 255);
} */



.table>tbody>tr:hover{
    background-color: rgb(167, 239, 241);
    cursor: pointer;
}

table th:first-child{
    border-radius:10px 0 0 10px;
}
  
table th:last-child{
    border-radius:0 10px 10px 0;
}

table td:first-child{
    border-radius:10px 0 0 10px;
}
  
table td:last-child{
    border-radius:0 10px 10px 0;
}

table>tbody>tr {
    background-color: rgb(255, 255, 255);
}

/* Footer */
.footer{
    bottom: 0;
    text-align: center;
    margin: 20px 0;
}

.fa-brands{
    color: var(--xanh-dam);
}

.text-footer{
    color: var(--xanh-dam);
}

.d-none{
    display: none !important;
}

/* Slider */
#slider{
    position: relative;
    margin-top: 45px;
    padding: 25%;
    text-align: center;
    background: url(images/slider1.jpg) top center / cover no-repeat;
}

.text-content{
    position: absolute;
    width: 50%;
    bottom: 50px;
    color: white;
    margin: auto;
    
}
.text-heading{
    font-weight: 900;
}

.text-decription{
    font-weight: 100;
}

.container-header, .festival-heading{
    text-align: center;
    height: 100px;
}

.costume-list, .festival-topic{
    font-weight: 900;
    font-size: 75px;
    color: white;
}

#thupdown{
    width: 10px;
    padding-right: 10px;
}
.up-down-icon{
    width: 30px;
    height: 100%;
    display: flex;

}

.sort{
    width: 15px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.sort-active{
    color: rgb(45, 39, 138);
}

/* Phần Festival */
#festival {
    margin-top: 60px;
    width: 100%;
    max-height: 800px;
    background-color: var(--xanh-nhatnhat);
    display: flex;
    align-items: center;
    
}

.festival-content{
    background-color:  var(--xanh-nhatnhat);
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.festival-heading{
    background-color: var(--xanh-nhatnhat);
    height: 100px;
}

.festival-topic{
    font-weight: 900;
    font-size: 75px;
    color: var(--xanh-nhat);
}

.festival-slogan{
    background-color: var(--xanh-nhatnhat);
    height: 50px;
    text-align: center;
}
.festival-slogan>i{
    color: var(--xanh-nhat);
    line-height: 50px;
}

.festival-list{
    background-color: var(--xanh-nhatnhat);
    height: 300px;
    color: rgb(255, 255, 255);
    font-weight: 10;
    overflow: auto;
}

.festival-list>div{
    height: 45px;
    display: flex;
    line-height: 45px;
    padding-left: 20px;
}
.fes-tr{
    background-color: var(--xanh-nhat);
    border-radius: 10px;
    border-bottom: 1px solid;
    border-color: rgb(120, 120, 120);
}

.fes-tr:hover{
    background-color: var(--xanh-dam);
}

.fes-td1{
    width: 45%;
}

.fes-td5{
    width: 20%;
}

.fes-td2{
    width: 10%;
    text-align: center;
}

.fes-td3{
    width: 15%;
    text-align: center;
}

.fes-td4{
    width: 10%;
    text-align: center;
}

.fa-pen-to-square ,.fa-trash{
    cursor: pointer;
}

.input-festival{
    width: 95%;
    border: none;
    border-radius: 10px;
}

.addFestivalList{
    background-color: #000;
    width: 200px;
    height: 200px;
}

.btn-addFestivalList{
    text-align: center;
}

.btn-addFestivalList>button{
    width: 100px;
    height: 50px;
}

/* Phần đăng ký shop */

#shop{
    width: 100%;
    max-height: 2000px;
    background-color: var(--xanh-nhatnhat);
    
}


.shop-container{
    background-color: var(--xanh-dam);
    width: 90%;
    height: 150%;
    margin: auto;
    text-align: center;
    border: solid 15px var(--xanh-dam);
    border-radius: 20px;
    border-top: 0;
    
}

.shop-heading{
    background-color: var(--xanh-dam);
    width: 100%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.shop-topic{
    font-weight: 900;
    font-size: 75px;
    color: white;
}

.shop-btnResign{
    background-color: var(--xanh-nhatnhat);
    width: 100%;
    margin: auto;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.shop-btnResign-bgMiddle{
    background-color: rgb(163, 168, 69);
    width: 50%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.bgdam1{
    width: 25%;
    background-color: var(--xanh-dam);
    border-top-left-radius: 20px;
}

.bgdam2{
    width: 25%;
    background-color: var(--xanh-dam);
    border-top-right-radius: 20px;
}

.shop-btnResign-bgMiddle{
    background-color: var(--xanh-dam);
    padding: 3px 0;
    color: white;
}

.shop-btnResign-bgMiddle:hover{
    background-color: var(--xanh-nhat);
    cursor: pointer;
}

.shop-btnResign-bg1{
    background-color: var(--xanh-nhatnhat) ;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.shop-btnResign-bg2{
    background-color: var(--xanh-nhatnhat) ;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.shop-displayshop{
    background-color: var(--xanh-nhatnhat);
    width: 100%;
    max-height: 700px;
    padding: 1%;
    text-align: left;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.shop-div{
    background-color: var(--xanh-nhat);
    width: 22.5%;
    /* height: 200px; */
    max-height: 500px;
    display: inline-block;
    margin: 1%;
    border-radius: 20px;
    padding: 15px;
    
}

.shop-div:hover{
    background-color: var(--xanh-dam);
}

.shop-coverContent{
    position: relative;
    width: 100%;
    
    /* padding-top: 100%; */
}

.shop-avatar{
    width: 100%;
}

.shop-avatar>img{
    width: 100%;
    border-radius: 20px;
}

.shop-nameAndDelete{
    display: flex;
}
.shop-name{
    /* margin: 5px 0; */
    text-align: center;
    width: 90%;
}

.shop-delete{
    width: 10%;
    text-align: center;
    margin-top: 10px;
    color: var(--xanh-nhat);
    cursor: pointer;
    align-self: flex-end;
}

.shop-delete>i:hover{
    color: var(--xanh-nhat);
}

.shop-name>p{
    text-decoration: none;
    padding-top: 10px;
    font-size: 30px;
    line-height: 100%;
    color: black;
    
}

#shop1{
    width: 100%;
    height: 80px;
    background-color: var(--xanh-nhatnhat);
}

.fa-solid:hover{
    color: rgba(0, 225, 255, 0.67);
}

.fa-square-check:hover{
    color: rgba(26, 255, 0, 0.67);
    cursor: pointer;
}

.fa-square-xmark:hover{
    color: rgba(255, 8, 0, 0.67);
    cursor: pointer;
}

.shop-inputBg{
    position: fixed !important;
    top: 45px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-inputForm{
    width: 700px;
    max-height: 70%;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: var(--xanh-dam) solid 10px;
}

.shop-inputForm-header{
    display: flex;
    width: 100%;
    max-height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--xanh-nhat);
    padding: 10px 0;
    border-radius: 20px;
    border: var(--xanh-dam) 5px solid;
    color: white;
}

.shop-inputForm-header>h2{
    height: 100%;
    font-size: 30px;
    line-height: 100%;
}

.shop-inputForm-body{
    width: 100%;
    max-height: 80%;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
    color: white;
}

.shop-inputForm-displayAvatar{
    width: 200px;
    height: 200px;
    background-color: var(--xanh-nhat);
    border-radius: 20px;
}

.shop-inputForm-text{
    border: var(--xanh-dam) 5px solid;
    margin-left: 20px;
    border-radius: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: var(--xanh-nhat);
    position: relative;
    height: 200px;
    width: 415px;
    padding-top: 18px;
}

.shop-input{
    display: flex;
    margin: 10px 0;
}

.shop-input>label{
    width: 35%;
    text-align: right;
    padding-right: 5px;
    
}

.shop-formControl{
    width: 60%;
    border: none;
    margin-bottom: 5px;
    border-radius: 10px;
}












.shop-inputForm-btn{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

.shop-inputForm-btn>i{
    font-size: 75px;
    
}

.shop-inputForm-btn>.fa-square-check{
    color: rgb(3, 255, 3);
    
}

.shop-inputForm-btn>.fa-square-xmark{
    color: rgb(255, 3, 3);
}

#shop-review-avatar{
    border-radius: 20px;
    background-color: var(--xanh-nhat);
    width: 100%;
    border: var(--xanh-dam) 5px solid;
}

.shop-inputForm-btn>.fa-square-check:hover{
    cursor: pointer;
    background-color: rgb(0, 132, 0) ;
}

.shop-inputForm-btn>.fa-square-xmark:hover{
    cursor: pointer;
    background-color: rgb(132, 0, 0) ;
}